.indices-label {
    /* color: white;   */
    font-size: 12px;
    font-weight: bold;
}

/* @media (min-width: 1200px) {
    .css-1oqqzyl-MuiContainer-root {
        max-width: 90vw !important;
    }
} */
