.container {
    position: fixed;
    left: 0;
    right: 0;
    top: -250px;
    bottom: 0;
    z-index: 0;
    transform: skewY(-12deg);
}

.content {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    transform-origin: 0 50%;
    height: 1698px;
    /* background-color: rgb(247, 250, 252); */
}

.sub-left-content-1 {
    position: absolute;
    top: 668px;
    left: calc(50% - 700px);
    right: calc(50% + 540px);
    height: 40px;
    background-color: #42b72a;
}

.sub-left-content-2 {
    position: absolute;
    top: 698px;
    left: -10px;
    right: calc(50% + 470px);
    height: 40px;
    background-color: #1877f2;
}

.sub-left-content-3 {
    position: absolute;
    top: 698px;
    left: calc(50% - 700px);
    right: calc(50% + 540px);
    height: 10px;
    background-color: #0048e5;
}

.sub-right-content {
    position: absolute;
    top: 658px;
    right: -10px;
    left: calc(50% + 494px);
    height: 40px;
    background-color: #1877f2;
}