.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    font-family: sohne-var,sohne-woff,Helvetica Neue,Arial,sans-serif;
    letter-spacing: -.2px;
    color: rgb(138 142 157);
    text-align: start;
}

.login-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    padding: 56px 48px;
    border-radius: 6px;
    min-width: 25%;
    min-height: 25%;
    box-shadow: rgb(60 66 87 / 8%) 0px 15px 35px 0px, rgb(0 0 0 / 12%) 0px 5px 15px 0px;
    transform: translate(115%, 50%);
    background-color: #fff;
}

.sub-content {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 10px;
}

.btn-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.box {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px;
}

.box-h-w {
    height: auto;
    width: 396px;
    padding-bottom: 20px;
}

.login-inp {
    display: inline-block;
    font-size: 14px;
    margin: auto;
    padding: 6px 0;
    width: 302px;
}

.inp {
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    height: 22px;
    line-height: 16px;
    padding: 14px 16px;
    vertical-align: middle;
    border-radius: 6px;
}

.company-desc {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    padding-left: 10px;
}

.seperator {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    padding: 5px;
    text-align: center;
}

.reg-color {
    background-color: #42b72a;   
}

.inp:active {
    border: 1px solid #1877f2 !important;
}

.reg-btn {
    margin-top: 30px;
    width: 65%;
    transform: translateX(25%)
}

.link {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.text-danger {
    color: #f02849;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-top: 8px;
    text-align: left;
}